{% extends 'voting_app/base.html' %}

{% block content %}
<h1>Личный кабинет</h1>
<h2>Вопросы типа "ОТВЕТ"</h2>
<h2><a href="{% url 'vote_app:personal_area_user_question' %}">Назад</a></h2>

   <form method="post" action="{% url 'vote_app:add_choices' %}">
        {% csrf_token %}
        {{ form.as_p }}
            <input type="submit" value="Добавить ответ к вопросу">
   </form>
<br>
<br>
<nav>
    {% for question in answer_questions %}
        {% for answer in  answers %}
            {% if answer.question.name == question.name %}
                    <h2>Опрос: "{{ question.vote.title }}"</h2>
                    <h3>{{ question.name }}</h3>
                    <h4>Правильный ответ: {{ answer.choice_text }}</h4>
            {% endif %}
        {% endfor %}
    {% endfor %}
</nav>



{% endblock %}