{% extends 'voting_app/base.html' %}

{% block content %}


<h3>Вопросы:</h3>
<br>
    <form method="post" action="{% url 'vote_app:add_question' %}">
        {% csrf_token %}
        {{ form.as_p }}
            <input type="submit" value="Добавить вопрос">
    </form>
<br>
<li><a href="{% url 'vote_app:personal_area_user' %}">На предыдущую страницу</a></li>
<br>
<li><a href="{% url 'vote_app:text_type' %}">Текстовые вопросы с ответами чек-бокс</a></li>
<li><a href="{% url 'vote_app:image_type' %}">Графические вопросы</a></li>
<li><a href="{% url 'vote_app:audio_type' %}">Аудио вопросы</a></li>
<li><a href="{% url 'vote_app:video_type' %}">Видео вопросы</a></li>
<br>
{% for key, value in dict_vote.items %}
    <h3>Опрос: "{{ key }}"</h3>
    {% for el in value %}
        <h4>{{ el.name }}</h4>
    {% endfor %}
{% endfor %}

{% endblock %}