{% extends 'voting_app/base.html' %}

{% block content %}
<h1>Личный кабинет</h1>
<h2>Вопросы типа "ТЕСТ"</h2>
<h2><a href="{% url 'vote_app:personal_area_user_question' %}">Назад</a></h2>

    <form method="post" action="{% url 'vote_app:add_choices' %}">
        {% csrf_token %}
        {{ form.as_p }}
            <input type="submit" value="Добавить варианты ответов к вопросу">
    </form>

<br>
<br>
    <nav>
    {% for key, value in dict_ch.items %}
        {% for question in questions %}
            {% if question.name == key %}
                <h2>Опрос: "{{ question.vote.title }}"</h2>
                <h3>{{ key }}</h3>
                {% for el in value %}
                    <p>{{ el }}</p>
                {% endfor %}
                {% for el in value %}
                    {% for an in answers %}
                        {% if el == an.choice_text %}
                            <h4>Правильный ответ: {{ el }}</h4>
                        {% endif %}
                        {% endfor %}
                {% endfor %}
            {% endif %}
    {% endfor %}
    {% endfor %}
        </nav>
{% endblock %}