{% extends 'voting_app/base.html' %}

{% block content %}

<h1>Личный кабинет</h1>
<h3>Добавление типов вопросов</h3>
<h3><a href="{% url 'vote_app:personal_area_user' %}">Назад</a></h3>
    <form method="post" action="{% url 'vote_app:add_type_question' %}">
        {% csrf_token %}
        {{ form.as_p }}
            <input type="submit" value="Добавить тип вопроса">
    </form>
<br>
<h3>Типы вопросов:</h3>
{% for type in types %}
    <h4> - "{{ type.name_type}}"</h4>
{% endfor %}
{% endblock %}