{% extends 'voting_app/base.html' %}

{% block content %}


<h3>Видео вопросы:</h3>
<br>
    <form method="post" enctype="multipart/form-data" action="{% url 'vote_app:add_video' %}">
        {% csrf_token %}
        {{ form.as_p }}
            <input type="submit" value="Добавить видео и правильный ответ">
    </form>
<br>
<li><a href="{% url 'vote_app:question' %}">На предыдущую страницу</a></li>
<br>
{% for key, value in global_dict.items %}
    <h3>Опрос: "{{ key }}"</h3>
    {% for key2, value2 in value.items %}
        {% for key3, value3 in answer_dict.items %}
            {% if key2 == key3 %}
                <h4>Вопрос: {{ key2 }}</h4>
                {% for el in value2 %}
                        <div class='reader'>
                            <video controls src="{{ el.video.url }}" type='video/mov'></video>
                       </div>
                {% endfor %}
                <h5>Правильный ответ: {{ value3 }}</h5>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
<br>
{% endblock %}